<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
<dict>  
    <key>items</key>  
    <array>  
        <dict>  
            <key>assets</key>  
            <array>  
                <dict>  
                    <key>kind</key>  
                    <string>software-package</string>  
                    <key>url</key>  
                    <string>
                        <![CDATA[https://qianming001.oss-cn-hangzhou.aliyuncs.com/prod/2019/1012/1d5961a17d3a455f9053e5ceb79dff45_1570847566347.ipa]]>
                    </string>  
                </dict>  
                <dict>  
                    <key>kind</key>  
                    <string>display-image</string>  
                    <key>needs-shine</key>  
                    <true />  
                    <key>url</key>  
                    <string>
                        <![CDATA[https://qianming001.oss-cn-hangzhou.aliyuncs.com/prod/20191012/675f1295f9900dc59b04a26a79c2e65c.png]]>
                    </string>  
           	</dict>  
            </array>  
            <key>metadata</key>  
            <dict>  
                <key>bundle-identifier</key>  
                <string><![CDATA[cn.zhui.client3209568]]></string>  
                <key>bundle-version</key>  
                <string><![CDATA[3.0.2]]></string>  
                <key>kind</key>  
                <string>software</string>  
                <key>title</key>  
                <string><![CDATA[一元乐拍 wewe ]]></string>  
            </dict>  
        </dict>  
    </array>  
</dict>  
</plist> 
